/* Imports 
***************************/
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* General Settings 
***************************/
html, body{
	margin: 0px;
}

*{
	font-family: 'Alata', sans-serif;
}

output{
	width: 30px;
	display: inline-block;
	text-align: center;
}

select{
	width: 110px !important;
	height: 30px;
	font-size: 1.2rem;
	text-align: center;
}

.border{
	background-color: #fafaf6;
	border-bottom: 2px solid rgba(0,0,0,0.1);
}

/* Selection Style */
::-moz-selection{
	background: #ffdc33;
	color: #444452;
}

::selection{
	background: #ffdc33;
	color: #444452;
}

/* Grids */
.wrapper{
	display: grid;
	height: 100vh;
	grid-template-columns: 310px minmax(1000px, 1fr) 300px;
	grid-template-rows: 50px minmax(600px, 1fr);
	grid-template-areas:
			"header options topbar"
			"content content content";
	background-color: #fff;
}

#topbar{
	grid-area: topbar;
	overflow: hidden;
	text-align: center;
	z-index: 1000;
	display: inline-block;
	position: absolute;
	right: 0px;
}

#content{
	grid-area: content;
	width: 100vw;
}

.header{
	grid-area: header;
}

.options{
	grid-area: options;
	color: #000;
	font-size: 1.2rem;
	padding: 11px 0;
	padding-left: 20px;
}

/* Header Item */
.headerButton:hover{
	background: linear-gradient(145deg, #e1e1dd, #ffffff);
	box-shadow:  3px 3px 6px #d5d5d1, 
            	-3px -3px 6px #ffffff;
}

/* Top Bar Item */
.topBarItem{
	display:inline-block;
	margin-left: 5px;
	background: #fafaf6;
	cursor: pointer;
}

.topBarItem img{
	width: 30px;
	height: 30px;
	padding: 7px;
	border-radius: 10px;
	box-shadow:  3px 3px 6px #d5d5d1, 
				-3px -3px 6px #ffffff;
}

.topBarItem:hover{
	background: linear-gradient(145deg, #e1e1dd, #ffffff);
	box-shadow:  3px 3px 6px #d5d5d1, 
             	-3px -3px 6px #ffffff;
}

/* Color Palette */
.colourPalette{
	visibility: hidden;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	width: 250px;
	top: 50px;
	left: 60px;
	background: linear-gradient(145deg, #e1e1dd, #ffffff);
	box-shadow:  3px 3px 6px #d5d5d1, 
	-3px -3px 6px #ffffff;
}

.colourPalette.visible {
	visibility: visible;
}

.colourSwatches{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
	border-radius: 50%;
	border: 2px solid #000;
	outline: none;
}

/* Tool Details Settings 
***************************/
/* Buttons */
.options button,
#selectButton,
.headerButton{
	width: 30px;
	margin-left: 5px;
	padding: 7px;
	cursor: pointer;
	border-radius: 10px;
	background: #fafaf6;
	box-shadow:  3px 3px 6px #d5d5d1, 
				 -3px -3px 6px #ffffff;
}

#colorPickerButton.hide {
	visibility: hidden;
}

#colorPickerHideButton {
	visibility: hidden;
	left: 500px;
}

#colorPickerHideButton.visible {
	visibility: visible;
	width: 30px;
	left: 500px;
	margin-left: 5px;
	padding: 7px;
	cursor: pointer;
	border-radius: 10px;
	background: #fafaf6;
	box-shadow:  3px 3px 6px #d5d5d1, 
				 -3px -3px 6px #ffffff;
}

.shapesButton,
#directionButton,
.options button{
	display: inline-block;
	position: fixed;
	width: 200px;
	top: 5px;
	padding: 10px;
	left: 700px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	outline: none;
}

.shapesButton{
	width: 90px !important;
	left: 820px !important;
	font-size: 1.1rem;
	position: absolute;
	top: 0 !important;
}

.shapesButton:hover,
#directionButton:hover,
.options button:hover{
	background: linear-gradient(145deg, #e1e1dd, #ffffff);
	box-shadow:  3px 3px 6px #d5d5d1, 
             	-3px -3px 6px #ffffff;
}

.scissors-button,
.snap-button{
	left: 315px !important;
	width: 200px !important;
	font-size: 1.1rem;
	position: absolute;
	top: 0 !important;
}

.font-dropdown {
	position: relative;
	width: 110px;
	top: -55px;
	left: 300px;
	margin-right: 20px;
}

#font-input {
	position: relative;
	width: 110px;
	top: -25px;
	left: 560px;
	height: 24px;
}

.font-3d {
	left: 1030px !important;
	width: 50px !important;
}

/* Stroke & Size Slider */
input[type=range]{
    -webkit-appearance: none;
    background-color: #242424;
    width: 200px;
	height:10px;
}

input[type=range]:focus{
	outline: none;
}

input[type="range"]::-webkit-slider-thumb{
	 -webkit-appearance: none;
	border-radius: 2px;
	width: 10px;
	height: 20px;
	background-color: #ffdc33;
	box-shadow:  1px 1px 2px #d4b72a, 
             	-1px -1px 2px #ffff3c;
}

input[type="range"]::-webkit-slider-thumb:hover{
	box-shadow: inset 1px 1px 2px #d4b72a, 
				inset -1px -1px 2px #ffff3c;
} 

#shapeSlider{
	display: inline-block;
	position: fixed;
	top: 11px;
	left: 460px;
}

/* Tool Helper Pop Up */
.open-modal {
	display: inline-block !important;
	position: absolute !important;
	overflow: hidden !important;
	top: 0px !important;
	left: 215px !important;
	padding: 10px 0 !important;
	width: 90px !important;
	font-size: 1.1rem;
	text-align: center;
	text-decoration:none;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border-radius: 10px;
	background: #fafaf6;
	box-shadow:  3px 3px 6px #d5d5d1, 
				 -3px -3px 6px #ffffff;
}

.select-modal{
	top: 40px !important;
}
  
.modal-container {
	display: flex;
	pointer-events: none;
	opacity: 0;
	will-change: transform, opacity;
  
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
  
	-webkit-transition: -webkit-transform 0.1s
	cubic-bezier(0.465, 0.183, 0.153, 0.946),
	opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
	opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
  
.modal-container.visible {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
  
	-webkit-transition: -webkit-transform 0.3s
	cubic-bezier(0.465, 0.183, 0.153, 0.946),
	opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
	opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
  
.modal {
	position: absolute;
	top: 13px;
	left: -165px;
	pointer-events: none;
	width: 200px;
	height: 100px;
	opacity: 1;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	background-color: #fff;
	z-index: 10000;
}

.modal h2{
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	background-color: #ffdc33;
	width: 65%;
	margin: 10px auto;
}

.modal p{
	font-size: .7rem;
	padding: 0 20px;
}
  
.modal:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
  
#close-modal {
	position: absolute;
	top: 10px;
	left: 165px;
	width: 23px;
	height: 23px;
	font-size: .7rem;
	padding: 0;
	pointer-events: all;
}
  