/* Imports 
***************************/
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* General Settings 
***************************/
html, body{
	margin: 0px;
}

* {
	font-family: 'Alata', sans-serif;
}

output{
	width: 30px;
	display: inline-block;
	text-align: center;
}

select{
	width: 200px;
	height: 30px;
	font-size: 1.2rem;
	text-align: center;
}

.border {
	background-color: #fafaf6;
	border-bottom: 2px solid rgba(0,0,0,0.1);
}

/* Selection Style */
::-moz-selection {
	background: #ffdc33;
	color: #444452;
}

::selection {
	background: #ffdc33;
	color: #444452;
}

/* Grids */
.wrapper{
	display: grid;
	height: 100vh;
	grid-template-columns: 1.5fr repeat(2, 2fr) minmax(600px, 1fr);
	grid-template-rows: 50px minmax(600px, 1fr) 100px;
	grid-template-areas:
			"header options options topbar"
			"content content content content"
			"colourP colourP colourP colourP";
	background-color: #fff;
}

#topbar{
	grid-area: topbar;
	display: flexbox;
	flex-wrap: wrap;
	overflow: hidden;
	margin-right: 15px;
	text-align: center;
}

#content{
	grid-area: content;
	width: 100vw;
}

.header{
	grid-area: header;
}

.options{
	grid-area: options;
	color: #000;
	font-size: 1.2rem;
	padding: 11px 0;
	padding-left: 20px;
}

/* Header Item */
.headerButton:hover{
	background: linear-gradient(145deg, #e1e1dd, #ffffff);
	box-shadow:  3px 3px 6px #d5d5d1, 
            	-3px -3px 6px #ffffff;
}

/* Top Bar Item */
.topBarItem{
	display:inline-block;
	margin-left: 5px;
	background: #fafaf6;
	cursor: pointer;
}

.topBarItem img {
	width: 30px;
	height: 30px;
	padding: 7px;
	border-radius: 10px;
	box-shadow:  3px 3px 6px #d5d5d1, 
				-3px -3px 6px #ffffff;
}

.topBarItem:hover{
	background: linear-gradient(145deg, #e1e1dd, #ffffff);
	box-shadow:  3px 3px 6px #d5d5d1, 
             	-3px -3px 6px #ffffff;
}

/* Color Palette */
.colourPalette{
	grid-area: colourP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
}

.colourSwatches{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 40px;
	max-width: 40px;
	margin: 5px;
	border-radius: 50%;
	border: 2px solid #000;
	outline: none;
}
/* Tool Details Settings 
***************************/
/* Buttons */
.options button,
#selectButton,
#directionButton,
.headerButton{
	width: 30px;
	margin-left: 5px;
	padding: 7px;
	cursor: pointer;
	border-radius: 10px;
	background: #fafaf6;
	box-shadow:  3px 3px 6px #d5d5d1, 
				 -3px -3px 6px #ffffff;
}

#directionButton,
.options button{
	display: inline-block;
	position: fixed;
	width: 200px;
	top: 10px;
	left: 650px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	outline: none;
}

.shapesButton{
	width: 70px !important;
	left: 950px !important;
}

.tool__des:hover,
.options button:hover{
	background: linear-gradient(145deg, #e1e1dd, #ffffff);
	box-shadow:  3px 3px 6px #d5d5d1, 
             	-3px -3px 6px #ffffff;
}


/* Stroke & Size Slider */
input[type=range]{
    -webkit-appearance: none;
    background-color: #242424;
    width: 200px;
	height:10px;
}

input[type=range]:focus{
	outline: none;
}

input[type="range"]::-webkit-slider-thumb{
	 -webkit-appearance: none;
	border-radius: 2px;
	width: 10px;
	height: 20px;
	background-color: #ffdc33;
	box-shadow:  1px 1px 2px #d4b72a, 
             	-1px -1px 2px #ffff3c;
}

input[type="range"]::-webkit-slider-thumb:hover{
	box-shadow: inset 1px 1px 2px #d4b72a, 
				inset -1px -1px 2px #ffff3c;
} 

#shapeSlider {
	display: inline-block;
	position: fixed;
	top: 11px;
	left: 540px;
}

/* Tool Helper Pop Up */
.tool__des-title img {
	width: 25px;
}

.tool__des-title span {
	text-align: center;
}

.tool__des {
	position: absolute;
	right: 5px;
	cursor: pointer;
	padding: 7px 0;
	width: 100px;
	font-size: 1.2rem;
	text-align: center;
	border-radius: 10px;
	background: #fafaf6;
	box-shadow:  3px 3px 6px #d5d5d1, 
				 -3px -3px 6px #ffffff;
}
